---
layout: home
title: Register early and save!
card: http://2017.fsto.co/images/card.jpg
---
<section>
  <article class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 id="cover">What we cover</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <h3>Client Side Code &amp; Architecture</h3>
        <p>Our client side code stream is where you will experience hands-on training with technologies primarily used on the front-end.</p>
        <p>Our client side architecture stream is where you will learn about architecture challenges and how to solve them.</p>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h3>Server Side Code &amp; Architecture</h3>
        <p>Our server side code stream is where you will learn new techniques with technologies primarily used on the back-end.</p>
        <p>Our server side architecture stream is where you will learn about delivery, data, servers, application architecture and more.</p>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h3>User Experience</h3>
        <p>We wouldn't be full stack without also including designers in our event. Bringing in designers also provides amazing networking opportunities.</p>
        <p>Our UX stream is where you will find talks that will help designers and developers alike create a better web.</p>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h3>IoT, Team Skills, and New Tech</h3>
        <p>Internet of Things talks will show you how you can "hack" the world. Team Skills will help you be a better leader and New Technology stream is where you can be inspired by technologies gaining momentum!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p><a href="https://ti.to/fstoco/2017" class="btn btn-reg">Register Now</a> <a href="#speakers" class="btn btn-more">Ok, but who's speaking?</a></p>
      </div>
    </div>
  </article>
</section>
<section class="speaking-bg">
  <aside class="container"><h4>"Reflecting on the wonderful time I had at #fstoco. Thanks to all my new friends for the good time and learning. Hope to see you next year!" - Marissa Levy Lerer ‏@marissalevy </h4></aside>
</section>
<section>
  <article class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 id="speakers">Who's Speaking - <a href="/speak">Submit a Session</a></h2>
        <p>We're still working on filling in our content schedule check back often as we announce the right speaker for the topics we're covering. Here is who we have announced so far!</p>
      </div>
    </div>
    <div class="row">
      {% for times in site.data.fsto.23 %}
        {% for session in times[1] %}
            <div class="speaker speaker-card">
                <div class="col-xs-3">
                  <img src="/images/speakers/{{session.key}}.jpg" alt="{{session.speaker}} Photo" class="img-responsive" />
                </div>
                <div class="col-xs-9">
                  <h4>{{session.speaker}}</h4>
                  <h5>{{session.role}}</h5>
                  <p>Session: <a href="/sessions#{{session.key}}">{{session.title}}</a><br />
                  <a href="/speakers#{{session.key}}">Read {{session.speaker}}'s Bio</a></p>
                </div>
            </div>
          {% endfor %}
        {% endfor %}
        {% for times in site.data.fsto.24 %}
          {% for session in times[1] %}
              <div class="speaker speaker-card">
                  <div class="col-xs-3">
                    <img src="/images/speakers/{{session.key}}.jpg" alt="{{session.speaker}} Photo" class="img-responsive" />
                  </div>
                  <div class="col-xs-9">
                    <h4>{{session.speaker}}</h4>
                    <h5>{{session.role}}</h5>
                    <p>Session: <a href="/sessions#{{session.key}}">{{session.title}}</a><br />
                    <a href="/speakers#{{session.key}}">Read {{session.speaker}}'s Bio</a></p>
                  </div>
              </div>
            {% endfor %}
          {% endfor %}
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p><a href="https://ti.to/fstoco/2017" class="btn btn-reg">Register</a> <a href="#schedule" class="btn btn-more">Ok, but what's the schedule like?</a></p>
      </div>
    </div>
  </article>
</section>
<section class="session-bg">
  <aside class="container"><h4>"Had an amazing time at #fstoco this week! Loved the organization, focus on diversity, inclusion and amazing tech &amp; non-tech talks. 10/10" - Tyler Jefford @tjefford</h4></aside>
</section>
<section>
  <article class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 id="schedule">Schedule</h2>
        <p>We're still working on filling in the schedule but here is how it will be laid out so you can see that you will have a chance to both specialize in your layer and get exposed to other layers to be a better generalist! We also offer lot's of time to network and will be providing you with lunch on both days. Don't worry if you have an allergy or sensitivity let us know at when buying your ticket and we will take care of you!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h3>Oct. 23 - Day 1</h3>
        {% for times in site.data.fsto.23 %}
        <div class="time">
          <h3>{{times[0]}}</h3>
          {% assign time = times %}
          {% for session in time[1] %}
            <div class="card {{session.klass}}">
              <p><strong><a href="/sessions#{{session.key}}">{{session.title}}</a></strong></p>
              <p>Room: {{session.room}}</p>
              <p>Speaker: <a href="/speakers#{{session.key}}">{{session.speaker}}</a></p>
              <p><small>{{session.keywords}}</small></p>
            </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h3>Oct. 24 - Day 2</h3>
        {% for times in site.data.fsto.24 %}
        <div class="time">
          <h3>{{times[0]}}</h3>
          {% assign time = times %}
          {% for session in time[1] %}
            <div class="card {{session.klass}}">
              <p><strong><a href="/sessions#{{session.key}}">{{session.title}}</a></strong></p>
              <p>Room: {{session.room}}</p>
              <p>Speaker: <a href="/speakers#{{session.key}}">{{session.speaker}}</a></p>
              <p><small>{{session.keywords}}</small></p>
            </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p><a href="https://ti.to/fstoco/2017" class="btn btn-reg">Register?</a> <a href="#experience" class="btn btn-more">Ok, but, like, will I fit in?</a></p>
      </div>
    </div>
  </article>
</section>
<section class="exhibit-bg">
  <aside class="container"><h4>"#fstoco was also very diverse. Most of the talks I attended were by women. The rest by dudes that aren't white. And I didn't seek that out" - @funkaoshi</h4></aside>
</section>
<section>
  <article class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 id="experience">The #fstoco experience</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <h3>Diversity &amp; Inclusion</h2>
          <p>#fstoco is organized by a diverse group of individuals, and seeks to have a diverse line-up of speakers. We make sure that our event is a safe space for learning including gender non-binary washrooms and an enforced <a href="/coc">code of conduct</a>. We also take great pride in attracting attendees from all around the world. Toronto is diverse and so should it's leading tech event!</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h3>High Quality Practical Content</h2>
          <p>Our planning process starts with great quality content, we carefully select topics that you can go right back to work and start integrating into your existing stack. Those topics are laid out in the schedule so you get exposed to more than just your specialization and stack, then find amazing speakers to talk in those spots. This is a lot different than the traditional CFP process.</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h3>Networking</h2>
          <p>We design our netowrking around breaking down barriers. We offer you a space on your name tag to put your passion so someone else can make that first intro, we've put games, lego, and other icebreakers around the venue so you can come together over a common task to feel less interrogated and a mix of designers and developers at the event spurs amazing conversations!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p><a href="https://ti.to/fstoco/2017" class="btn btn-reg">Register!</a> <a href="#register" class="btn btn-more">That's awesome, how much?</a></p>
      </div>
    </div>
  </article>
</section>
<section class="register-bg">
  <aside class="container"><h4>"Thanks @fullstackTO #fstoco for the warm welcome & great questions. Loved speaking to a packed room, meeting great people and awesome talks." - @leighthalliday</h4></aside>
</section>
<section>
  <article class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 id="register">Registration Information</h2>
        <p>Full Stack Toronto is a non-profit all of the funds from the event go into putting on the event and helping us create and sustain our events for the future. We think your money is going to a good cause, supporting diversity, professional development, an inclusive experience, and long-lasting friendships. All prices included all taxes and service fees and are in Canadian dollars so if you're from out of town it's even cheaper!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <h3>What's Provided</h3>
        <ul>
          <li>Access to both days of event</li>
          <li>Lunch, Coffee, Tea both days</li>
          <li>Free Hi-Speed Wifi</li>
          <li>Access to exclusive discounts</li>
          <li>Great Content</li>
          <li>Great People</li>
          <li>Exemplary Experience</li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-8">
        <h3>Pricing</h3>
        <div class="row">
          <div class="col-sm-12">
            <h3>Registration</h3>
            <p>On-sale Jul - Oct 13</p>
            <h4>$599 CAD / $445 USD / €397</h4>
          </div>
        </div>
        <p><small>We want #fstoco to be accessible to all, if you require financial assistance please send a request outlining how attending the event will further your professional development and why you require assistance to registration@fsto.co</small></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p><a href="https://ti.to/fstoco/2017" class="btn btn-reg">Shut up and take my money!</a> <a href="/venue" class="btn btn-more">Booked! Tell me about hotels, and travel!</a></p>
      </div>
    </div>
  </article>
</section>
