---
layout: default
title: A Diverse Speaker Lineup!
card: http://2017.fsto.co/images/card.jpg
---
<section>
  <article class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Speaker Bios</h2>
        <p>Here you can learn more about the speakers and follow them on twitter!</p>
      </div>
    </div>
    <div class="row">
      {% for times in site.data.fsto.23 %}
        {% for speaker in times[1] %}
        <div class="col-sm-6 speaker" id="{{speaker.key}}">
            <img src="/images/speakers/{{speaker.key}}.jpg" alt="{{speaker.speaker}} Photo" width="150" class="pull-left" />
            <h4>About {{speaker.speaker}}</h4>
            <h5>{{speaker.role}}</h5>
            <p>Session: <a href="/sessions#{{speaker.key}}">{{speaker.title}}</a></p>
            {{speaker.bio}}
        </div>
        {% endfor %}
      {% endfor %}
      {% for times in site.data.fsto.24 %}
        {% for speaker in times[1] %}
        <div class="col-sm-6 speaker" id="{{speaker.key}}">
            <img src="/images/speakers/{{speaker.key}}.jpg" alt="{{speaker.name}} Photo" width="150" class="pull-left" />
            <h4>About {{speaker.speakert}}</h4>
            <h5>{{speaker.role}}</h5>
            <p>Session: <a href="/sessions#{{speaker.key}}">{{speaker.title}}</a></p>
            {{speaker.bio}}
        </div>
        {% endfor %}
      {% endfor %}
    </div>
  </article>
</section>
