<section class="city-bg">
  <header class="big-header container">
    <div class="col-xs-6 col-sm-3">
      <img src="/images/fruit-supreme.png" class="img-responsive" />
    </div>
    <div class="col-xs-12 col-sm-9 cta">
      <h1>#fstoco</h1>
      <h2>The conference for people who build the web<br />Oct. 23-24th, 2017<br/>Historic Automotive Building at Exhibition Place<br>Toronto, Canada!</h2>
      <p><a href="https://ti.to/fstoco/2017" class="btn btn-lg btn-reg">Register Today</a> <a href="#cover" class="btn btn-lg btn-more">What do you cover?</a></p>
    </div>
  </header>
</section>
