<section class="blank-bg">
  <aside class="container"><h4>#fstoco wouldn't be possible without the generous support of our sponsors! If you'd like to get your name in front of 600 advanced developers and designers download our <a href="images/fsto-sponsorship.pdf">sponsorship prospectus!</a></h4></aside>
</section>
<section>
	<div class="container">
		<div class="row">
      <h3>Sponsors</h3>
			<div class="sponsor">
				<p class="rank">Partner</p>
				<div class="sponsor-img">
					<a href="https://www.ziversity.com/" target="_blank"><img src="/images/sponsors/ziversity.jpg" class="img-responsive" alt="Ziversity" /></a>
				</div>
			</div>
			<div class="sponsor">
				<p class="rank">Partner</p>
				<div class="sponsor-img">
					<a href="http://toronto.coderdojo.ca/" target="_blank"><img src="/images/sponsors/coder-dojo.jpg" class="img-responsive" alt="Coder Dojo" /></a>
				</div>
			</div>
			<div class="sponsor">
				<p class="rank">Official Airline</p>
				<div class="sponsor-img">
					<a href="http://www.aircanada.com/en/home.html" target="_blank"><img src="/images/sponsors/aircanada.jpg" class="img-responsive" alt="Air Canada" /></a>
				</div>
			</div>
			<div class="sponsor">
				<p class="rank">Travel Partner</p>
				<div class="sponsor-img">
					<a href="http://www.viarail.ca/en" target="_blank"><img src="/images/sponsors/viarail.jpg" class="img-responsive" alt="ViaRail" /></a>
				</div>
			</div>
			<div class="sponsor">
				<p class="rank">Registration &amp; App Partner</p>
				<div class="sponsor-img">
					<a href="https://eventmobi.com" target="_blank"><img src="/images/sponsors/eventmobi.jpg" class="img-responsive" alt="EventMobi"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="container">
		<div class="row">
				<h3>Speaker Sponsors</h3>
				<p>We would like to thank the following companies for paying the way for their employees to come speak at our events</p>
			<div>
				<!--<div class="sponsor">
					<p class="rank">Speaker Sponsor</p>
					<div class="sponsor-img">
						<a href="#"><img src="/images/sponsors/twitter.jpg" class="img-responsive" alt="Twitter"></a>
					</div>
				</div>-->
		</div>
	</div>
</div>
	<div class="clearfix"></div>
	<div class="container">
		<div class="row">
				<h3>Community Partners</h3>
				<p>We would like to thank the following comunity groups and companies for helping spread the word about our events</p>
			<div>
				<div class="sponsor">
					<p class="rank">Community Partner</p>
					<div class="sponsor-img">
						<a href="http://www.meetup.com/DevTOEvents/" target="_Blank"><img src="/images/sponsors/devto.jpg" class="img-responsive" alt="DevTo"></a>
					</div>
				</div>
				<div class="sponsor">
					<p class="rank">Community Partner</p>
					<div class="sponsor-img">
						<a href="http://www.meetup.com/ruby-lightning-to/" target="_Blank"><img src="/images/sponsors/rubylightning.jpg" class="img-responsive" alt="Ruby Lightning Talks"></a>
					</div>
				</div>
				<div class="sponsor">
					<p class="rank">Community Partner</p>
					<div class="sponsor-img">
						<a href="http://www.meetup.com/Women-Who-Code-Toronto/" target="_Blank" ><img src="/images/sponsors/wwc.jpg" class="img-responsive" alt="Women Who Code"></a>
					</div>
				</div>
				<div class="sponsor">
					<p class="rank">Meetup Partner</p>
					<div class="sponsor-img">
						<a href="http://www.pridetoronto.com/" target="_Blank" ><img src="/images/sponsors/pride-toronto.jpg" class="img-responsive" alt="Pride Toronto"></a>
					</div>
				</div>
				<div class="sponsor">
					<p class="rank">Community Partner</p>
					<div class="sponsor-img">
						<a href="http://www.meetup.com/Music-Technology-Meetup/" target="_Blank" ><img src="/images/sponsors/mtmu.jpg" class="img-responsive" alt="Music Technology Meetup"></a>
					</div>
				</div>
		    </div>
	     </div>
     </div>
</section>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48190009-8', 'auto');
  ga('send', 'pageview');

</script>
