<section class="blank-bg">
  <aside class="container">
    <div class="row">
      <div class="col-xs-12">
        <h4>#fstoco wouldn't be possible without the generous support of our sponsors! If you'd like to get your name in front of 600 senior developers check out our <a href="https://www.sponseasy.com/p/fstoco-2017">sponsorship prospectus!</a></h4>
      </div>
    </div>
  </aside>
</section>
<section>
	<div class="container">
		<div class="row">
      <div class="col-xs-12">
        <h3>Sponsors</h3>
  			<div class="sponsor">
  				<p class="rank">Exhibitor</p>
  				<div class="sponsor-img">
  					<a href="https://www.dev6.com/" target="_blank"><img src="/images/sponsors/dev6.jpg" class="img-responsive" alt="Dev6" /></a>
  				</div>
  			</div>
        <div class="sponsor">
  				<p class="rank">Exhibitor</p>
  				<div class="sponsor-img">
  					<a href="http://www.intelliware.com/" target="_blank"><img src="/images/sponsors/intelliware.jpg" class="img-responsive" alt="Intelliware" /></a>
  				</div>
  			</div>
        <div class="sponsor">
  				<p class="rank">Exhibitor</p>
  				<div class="sponsor-img">
  					<a href="https://www.capitalone.ca/careers/locations/" target="_blank"><img src="/images/sponsors/capitalone.png" class="img-responsive" alt="Capital One" /></a>
  				</div>
  			</div>
  			<div class="sponsor">
  				<p class="rank">Partner</p>
  				<div class="sponsor-img">
  					<a href="http://toronto.coderdojo.ca/" target="_blank"><img src="/images/sponsors/coder-dojo.jpg" class="img-responsive" alt="Coder Dojo" /></a>
  				</div>
  			</div>
  			<div class="sponsor">
  				<p class="rank">Official Canadian Airline</p>
  				<div class="sponsor-img">
  					<a href="http://www.aircanada.com/en/home.html" target="_blank"><img src="/images/sponsors/aircanada.jpg" class="img-responsive" alt="Air Canada" /></a>
  				</div>
  			</div>
  			<div class="sponsor">
  				<p class="rank">Travel Partner</p>
  				<div class="sponsor-img">
  					<a href="http://www.viarail.ca/en" target="_blank"><img src="/images/sponsors/viarail.jpg" class="img-responsive" alt="ViaRail" /></a>
  				</div>
  			</div>
        <div class="sponsor">
  				<p class="rank">Hotel Partner</p>
  				<div class="sponsor-img">
  					<a href="http://www.thompsonhotels.com/hotels/toronto/thompson-toronto" target="_blank"><img src="/images/sponsors/thompson.jpg" class="img-responsive" alt="Thompson Hotel" /></a>
  				</div>
  			</div>
        <div class="sponsor">
  				<p class="rank">Hotel Partner</p>
  				<div class="sponsor-img">
  					<a href="http://www.gladstonehotel.com/" target="_blank"><img src="/images/sponsors/gladstone.jpg" class="img-responsive" alt="Gladstone Hotel" /></a>
  				</div>
  			</div>
  			<div class="sponsor">
  				<p class="rank">Mobile App Partner</p>
  				<div class="sponsor-img">
  					<a href="https://eventmobi.com" target="_blank"><img src="/images/sponsors/eventmobi.jpg" class="img-responsive" alt="EventMobi"></a>
  				</div>
  			</div>
      </div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="container">
		<div class="row">
      <div class="col-xs-12">
				<h3>Speaker Sponsors</h3>
				<p>We would like to thank the following companies for supporting their employees to come speak at our events</p>
        <div class="sponsor">
					<p class="rank">Speaker Sponsor</p>
					<div class="sponsor-img">
						<a href="#" target=""><img src="/images/sponsors/dnsimple.png" class="img-responsive" alt="DNSimple"></a>
					</div>
				</div>
        <div class="sponsor">
					<p class="rank">Speaker Sponsor</p>
					<div class="sponsor-img">
						<a href="#" target=""><img src="/images/speakers/agilebits.png" class="img-responsive" alt="AgileBits"></a>
					</div>
				</div>
        <div class="sponsor">
					<p class="rank">Speaker Sponsor</p>
					<div class="sponsor-img">
						<a href="#" target=""><img src="/images/speakers/akamai.jpg" class="img-responsive" alt="Akamai"></a>
					</div>
				</div>
        <div class="sponsor">
					<p class="rank">Speaker Sponsor</p>
					<div class="sponsor-img">
						<a href="#" target=""><img src="/images/speakers/amazon.jpg" class="img-responsive" alt="Amazon"></a>
					</div>
				</div>
        <div class="sponsor">
					<p class="rank">Speaker Sponsor</p>
					<div class="sponsor-img">
						<a href="#" target=""><img src="/images/speakers/appdirect.png" class="img-responsive" alt="AppDirect"></a>
					</div>
				</div>
        <div class="sponsor">
					<p class="rank">Speaker Sponsor</p>
					<div class="sponsor-img">
						<a href="#" target=""><img src="/images/speakers/appdynamics.jpg" class="img-responsive" alt="App Dynamics"></a>
					</div>
				</div>
        <div class="sponsor">
					<p class="rank">Speaker Sponsor</p>
					<div class="sponsor-img">
						<a href="#" target=""><img src="/images/speakers/capitalone.png" class="img-responsive" alt="Capital One"></a>
					</div>
				</div>
        <div class="sponsor">
					<p class="rank">Speaker Sponsor</p>
					<div class="sponsor-img">
						<a href="#" target=""><img src="/images/speakers/etsy.svg" class="img-responsive" alt="Etsy"></a>
					</div>
				</div>
        <div class="sponsor">
					<p class="rank">Speaker Sponsor</p>
					<div class="sponsor-img">
						<a href="#" target=""><img src="/images/speakers/eventbrite.png" class="img-responsive" alt="EventBrite"></a>
					</div>
				</div>
        <div class="sponsor">
					<p class="rank">Speaker Sponsor</p>
					<div class="sponsor-img">
						<a href="#" target=""><img src="/images/speakers/microsoft.jpg" class="img-responsive" alt="Microsoft"></a>
					</div>
				</div>
        <div class="sponsor">
					<p class="rank">Speaker Sponsor</p>
					<div class="sponsor-img">
						<a href="#" target=""><img src="/images/speakers/mobify.png" class="img-responsive" alt="Mobify"></a>
					</div>
				</div>
        <div class="sponsor">
					<p class="rank">Speaker Sponsor</p>
					<div class="sponsor-img">
						<a href="#" target=""><img src="/images/speakers/nexmo.png" class="img-responsive" alt="Nexmo"></a>
					</div>
				</div>
        <div class="sponsor">
					<p class="rank">Speaker Sponsor</p>
					<div class="sponsor-img">
						<a href="#" target=""><img src="/images/speakers/nttdata.png" class="img-responsive" alt="NttData"></a>
					</div>
				</div>
        <div class="sponsor">
					<p class="rank">Speaker Sponsor</p>
					<div class="sponsor-img">
						<a href="#" target=""><img src="/images/speakers/oicr.gif" class="img-responsive" alt="Ontario Institute for Cancer Research"></a>
					</div>
				</div>
        <div class="sponsor">
					<p class="rank">Speaker Sponsor</p>
					<div class="sponsor-img">
						<a href="#" target=""><img src="/images/speakers/rangle.jpg" class="img-responsive" alt="Rangle"></a>
					</div>
				</div>
        <div class="sponsor">
					<p class="rank">Speaker Sponsor</p>
					<div class="sponsor-img">
						<a href="#" target=""><img src="/images/speakers/skookum.png" class="img-responsive" alt="Skookum"></a>
					</div>
				</div>
        <div class="sponsor">
					<p class="rank">Speaker Sponsor</p>
					<div class="sponsor-img">
						<a href="#" target=""><img src="/images/speakers/tidepool.png" class="img-responsive" alt="Tide Pool"></a>
					</div>
				</div>
        <div class="sponsor">
					<p class="rank">Speaker Sponsor</p>
					<div class="sponsor-img">
						<a href="#" target=""><img src="/images/speakers/vaadin.png" class="img-responsive" alt="Vaadin"></a>
					</div>
				</div>
      </div>
    </div>
  </div>
	<div class="clearfix"></div>
	<div class="container">
		<div class="row">
      <div class="col-xs-12">
				<h3>Community Partners</h3>
				<p>We would like to thank the following comunity groups and companies for helping spread the word about our events</p>
				<div class="sponsor">
					<p class="rank">Community Partner</p>
					<div class="sponsor-img">
						<a href="http://www.meetup.com/DevTOEvents/" target="_Blank"><img src="/images/sponsors/devto.jpg" class="img-responsive" alt="DevTo"></a>
					</div>
				</div>
				<div class="sponsor">
					<p class="rank">Community Partner</p>
					<div class="sponsor-img">
						<a href="http://www.meetup.com/ruby-lightning-to/" target="_Blank"><img src="/images/sponsors/rubylightning.jpg" class="img-responsive" alt="Ruby Lightning Talks"></a>
					</div>
				</div>
        <div class="sponsor">
					<p class="rank">Community Partner</p>
					<div class="sponsor-img">
						<a href="https://www.womenwhocode.com/toronto" target="_Blank"><img src="/images/sponsors/wwc.jpg" class="img-responsive" alt="Women Who Code Toronto"></a>
					</div>
				</div>
		    </div>
	     </div>
     </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>  &copy; 2017 Full Stack Toronto - Canadian Federal Non-Profit #8992240 | <a href="/coc">Code of Conduct</a> <a href="//www.iubenda.com/privacy-policy/759651" title="Privacy Policy">Privacy Policy</a></p>
      </div>
    </div>
  </div>
</section>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48190009-8', 'auto');
  ga('send', 'pageview');

</script>
<!--Start of Sponseasy sponsorship proposal widget--><script type="text/javascript">(function(){var ss=document.createElement('script'); ss.type='text/javascript';ss.async=true;ss.src='https://www.sponseasy.com/api/plugins/fstoco-2017.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ss,s);})()</script><!--End of Sponseasy sponsorship proposal widget-->
<!-- Twitter universal website tag code -->
<script>
!function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
},s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
// Insert Twitter Pixel ID and Standard Event data below
twq('init','nv9ky');
twq('track','PageView');
</script>
<!-- End Twitter universal website tag code -->
