// DEVICE LIST //
$xs-min: "only screen and (min-width:none)";
$xs-max: "only screen and (max-width:520px)";
$xs-sm: "only screen (min-width: none) and (max-width:767px)";

$sm-min: "only screen and (min-width:768px)";
$sm-max: "only screen and (max-width:991px)";
$sm-md: "only screen (min-width: 768px) and (max-width:991px)";

$md-min: "only screen and (min-width:992px)";
$md-max: "only screen and (max-width:1199px)";
$md-lg: "only screen (min-width: 992px) and (max-width:1199px)";

$lg-min: "only screen and (min-width:1200px)";
$lg-max: "only screen and (max-width:none)";
$hand-font: 'Nothing You Could Do', Georgia, cursive;
$title-font: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
p {
  line-height: 1.5em;
  font-size: 15px;
}
section {
  padding: 50px 0;
}
h1, h2, h3 {
  font-family: $title-font;
  margin: 0;
  padding: 0.5em 0;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.3em;
}
h4, h5,h6 {
  font-family: $hand-font;
  font-size: 32px;
  font-weight: normal;
  margin: 0;
  padding: 0.5em 0;
}
nav.navigation {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  a {
    &:link {
      color: #ffffff;
      text-decoration: none;
    }
    &:visited {
      color: #ffffff;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      list-style: none;
      margin: 0;
      padding: 0 10px 0 10px;
      float: left;
    }
  }
}
.city-bg {
  background: url("/images/bg-skyline.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: scroll;
}
.speaking-bg {
  background: url("/images/bg-speaking.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: scroll;
  min-height: 300px;
  padding: 100px 0;
  @media #{$md-min} {
    background-attachment: fixed;
  }
  h4 {
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  }
}
.exhibit-bg {
  background: url("/images/bg-exhibithall.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: scroll;
  min-height: 300px;
  padding: 100px 0;
  @media #{$md-min} {
    background-attachment: fixed;
  }
  h4 {
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  }
}
.session-bg {
  background: url("/images/bg-session.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: scroll;
  min-height: 300px;
  padding: 100px 0;
  @media #{$md-min} {
    background-attachment: fixed;
  }
  h4 {
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  }
}
.register-bg {
  background: url("/images/bg-women.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: scroll;
  min-height: 300px;
  padding: 100px 0;
  @media #{$md-min} {
    background-attachment: fixed;
  }
  h4 {
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  }
}
.blank-bg {
  background: url("/images/plainbg.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: scroll;
  min-height: 300px;
  padding: 100px 0;
  @media #{$md-min} {
    background-attachment: fixed;
  }
  h4 {
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  }
}
.big-header {
  min-height: 500px;
  padding: 25px 0;
  .cta {
    h1{
      color: #ffffff;
      font-size: 6em;
      font-family: $title-font;
      margin: 0;
      padding: 0;
      text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
      .header-pancake {
        max-width: 150px;
        float: left;
      }
    }
    h2{
      color: #ffffff;
      font-size: 1.75em;
      font-family: $title-font;
      line-height: 1.5em;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    }
  }
}
.header {
  min-height: 200px;
  padding: 25px 0;
  .cta {
    h1{
      color: #ffffff;
      font-size: 2em;
      font-family: $title-font;
      margin: 0;
      padding: 0;
      text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    }
    h2{
      color: #ffffff;
      font-size: 1.2em;
      font-family: $title-font;
      line-height: 1.5em;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    }
  }
}
.btn-reg {
  background: #8e44ad;
  color: #ffffff;
  text-decoration: none;
  border-radius: 0;
  font-size: 1em;
  &:hover{
    background: #9b59b6;
    color: #ffffff;
    text-decoration: underline;
  }
}
.btn-more{
  background: #2980b9;
  color: #ffffff;
  text-decoration: none;
  border-radius: 0;
  font-size: 1em;
  &:hover{
    background: #3498db;
    color: #ffffff;
    text-decoration: underline;
  }
}
//Speakers
.speaker {
  .pull-left {
    margin-right: 10px;
  }
  h4, h5 {
    font-family: $title-font;
    margin: 0;
    padding: 0;
    font-weight: bold;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 14px;
  }
}
.speaker-card {
  margin: 10px 0;
  p {
    margin: 0;
    padding: 0;
  }
}
//Sponsors
.sponsor {
  border: 1px solid #ccc;
  width: 160px;
  height: 160px;
  text-align: center;
  position: relative;
  float: left;
  margin-left: -1px;
  margin-top: -1px;
  .rank{
    font-size: 9px;
    margin: 0;
    position: absolute;
    top: 5px;
    width: 100%;
  }
  .sponsor-img{
    width: 160px;
    height: 160px;
    margin: 0;
    padding: 20px;
    vertical-align: middle;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    a {
      display:block;
      position:relative;
      top:50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
}
